<div class="container-fluid">
<p id="notice"><%= notice %></p>

<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @barber.first_name%></th>
      <td><%= @barber.last_name %></td>
      <td><%= @barber.age %></td>
      <td><%= @barber.email %></td>
    </tr>
    
    
  </tbody>
</table>
 
<button type="button" class="btn btn-outline-dark"><%= link_to 'Edit', edit_barber_path(@barber) %></button>
<button type="button" class="btn btn-outline-dark"><%= link_to 'Back', barbers_path %></button>

</div>
