<div class="container-fluid">
<h1 class="display-6">Search results</h1>


<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="row">Barber</th>
      <th scope="row">Customer</th>
      <th scope="row">Notes</th>
      <th scope="row">Date</th>
      <th scope="row">User ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <!-- for each we will the data based on whatever was entered in the search query -->
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.barber %></td>
        <td><%= appointment.customer %></td>
        <td><%= appointment.notes %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>