<div class="container-fluid">
<p id="notice"><%= notice %></p>

<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">Barber</th>
      <th scope="col">Customer</th>
      <th scope="col">Notes</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @appointment.barber %></th>
      <td><%= @appointment.customer %></td>
      <td><%= @appointment.notes %></td>
      <td><%= @appointment.date %></td>
    </tr>
    
    
  </tbody>
</table>

<button type="button" class="btn btn-outline-dark"><%= link_to 'Edit', edit_appointment_path(@appointment) %></button>
<button type="button" class="btn btn-outline-dark"><%= link_to 'Back', appointments_path %></button>

</div>
